<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.omaps.view" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="10" />

	<permission android:name="org.omaps.view.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission android:name="org.omaps.view.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".Splashscreen" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".CamspyMenu"></activity>
		<activity android:name=".TestConnect"></activity>
		<activity android:name=".VideoSample"></activity>
		<activity android:name=".ListGallery"></activity>
		<activity android:name=".VideoPlay"></activity>
		<activity android:name=".Configuration"></activity>
		<activity android:name=".OnlineCamera"></activity>

		<receiver android:name="org.omaps.gcm.MyBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="org.omaps.gcm" />
			</intent-filter>
		</receiver>
		<service android:name=".MyIntentService" />
	</application>
</manifest>